.homepage-hero {
  background-color: #ffd44f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px;
  justify-content: center;
  text-align: center;

  @media (min-width: 768px) {
    padding-block: 160px;
  }

  &__title {
    color: #322304;
    font-size: 32px;
    letter-spacing: -1.12px;
    font-family: "Mona Sans", sans-serif;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      font-size: 62px;
      max-width: 800px;
      margin-bottom: 42px;
    }
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 400;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 1.5;
    }
  }
}
