.logos__carousel {
  background-color: #eed6c1;
  position: relative;

  @media (min-width: 768px) {
    padding-bottom: 0;
    width: 50%;
  }

  &__item {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    margin: auto;

    &:hover {
      transform: scale(1.4);
    }
  }

  .slick-slider {
    padding-block: 78px;

    @media (min-width: 768px) {
      padding-block: 77px;
    }
  }
  .slick-arrow {
    transform: none;
    bottom: 10%;
    top: auto;
  }

  .slick-prev {
    left: 40%;

    @media (min-width: 1200px) {
      left: 45%;
    }
  }
  .slick-next {
    right: 40%;
    @media (min-width: 1200px) {
      right: 45%;
    }
  }
  .slick-list {
    padding-block: 21px;
  }
}
