.logos__carousel {
  background-color: #eed6c1;
  position: relative;
  padding-block: 48px;

  @media (min-width: 768px) {
    padding-bottom: 0;
    width: 50%;
  }

  &__item {
    margin: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: 40px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.4);
    }
  }
}
