.coffee__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  padding-block: 34px;
  gap: 50px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 400px);
    column-gap: 100px;
    row-gap: 100px;
    padding-block: 64px;
  }
}

.shopItem {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #cfcfcf;

  &__cover {
    max-width: 250%;
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  &__logo {
    height: auto;
    width: 80px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 1px solid #dedede;
    padding: 20px;
    padding-top: 40px;
    height: 200px;
    position: relative;

    @media (min-width: 768px) {
      padding: 20px;
      padding-top: 40px;
      height: 200px;
    }
  }

  &__title {
    font-size: 24px;
    font-family: "Teko";
  }

  &__links {
    color: #045e3e;
    display: flex;
    gap: 10px;
    font-size: 18px;
  }

  &__editorial {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.shops-section {
  &__title {
    padding-top: 50px;
    font-size: 28px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 15px;
    font-weight: 400;
    padding-inline: 12px;
    @media (min-width: 768px) {
      font-size: 64px;
    }
  }
  &__subtitle {
    text-align: center;
    font-weight: 200;
    font-size: 23px;
    padding-inline: 12px;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
}
