.hero {
  &__background {
    background-size: cover;
    height: 320px;
    background-position: center;
    width: 100%;
  }

  &__title {
    color: #045e3e;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin: auto;
    padding: 75px 32px;

    @media (min-width: 768px) {
      font-size: 62px;
      line-height: 64px;
      padding: 140px 64px;
    }
  }

  &__coffee {
    background-color: #6f4f28;
    .hero__title {
      color: white;
      animation: desvanecer 8s ease-in-out infinite;
    }
    .hero__background {
      background-image: url(../../../public/categories/coffee2.jpg);
    }
  }
  &__brunch {
    background-color: #2e3b2d;
    .hero__title {
      animation: aumentarDisminuir 8s ease-in-out infinite;
      color: #fff;
    }
    .hero__background {
      background-image: url(../../../public/categories/brunch.jpg);
    }
  }
  &__breweries {
    background-color: #0d0d0d;
    .hero__title {
      animation: entrarYSalir 8s ease-in-out infinite;
      color: #e3a857;
    }
    .hero__background {
      background-image: url(../../../public/categories/breweries2.jpg);
    }
  }
  &__gelato {
    background-color: #4f6a2f;
    .hero__title {
      color: #fdf6e3;
      animation: rebote 8s ease-out infinite;
    }

    .hero__background {
      background-image: url(../../../public/categories/gelatobackground2.jpg);
    }
  }
  &__large-groups {
    background-color: #4a4a4a;
    .hero__title {
      color: #eeeedd;
      animation: cambiarColor 8s infinite ease-in-out;
    }
    .hero__background {
      background-image: url(../../../public//categories/largegroups.jpg);
    }
  }
  &__rooftops {
    background-color: #2c3e50;
    .hero__title {
      color: #ffd700;

      @media (min-width: 768px) {
        animation: typing 4s steps(20, end) 1s,
          blink 0.5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .hero__background {
      background-image: url(../../../public//categories/rooftops3.jpg);
    }
  }
}

@keyframes aumentarDisminuir {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes entrarYSalir {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
@keyframes desvanecer {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes rebote {
  0% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(20px);
  }
  70% {
    transform: translateY(0);
  }
}
@keyframes cambiarColor {
  0% {
    opacity: 0;
    color: #eeeedd;
  }
  50% {
    opacity: 1;
    color: #32cd32;
  }
  100% {
    opacity: 0;
    color: #eeeedd;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

.logos {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    height: 300px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #bc480f;
    color: black;
    font-size: 32px;
    padding-inline: 48px;
    flex-shrink: 0;
    padding: 100px 64px;

    @media (min-width: 768px) {
      font-size: 40px;
      width: 50%;
    }
  }
}
