.hero {
  &__background {
    background-size: cover;
    height: 320px;
    background-position: center;
    width: 100%;
  }

  &__title {
    color: #045e3e;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 62px;
      line-height: 64px;
      margin: auto;
      padding: 140px 64px;
    }
  }

  &__coffee {
    background-color: #6f4f28;
    .hero__title {
      color: #d3c2a1;
      animation: desvanecer 8s ease-in-out infinite;
    }
    .hero__background {
      background-image: url(../../../public/categories/coffee2.jpg);
    }
  }
  &__brunch {
    background-color: #bc480f;
    .hero__title {
      animation: aumentarDisminuir 8s ease-in-out infinite;
      color: #fff;
    }
    .hero__background {
      background-image: url(../../../public/categories/brunch.jpg);
    }
  }
  &__breweries {
    background-color: #0d0d0d;
    .hero__title {
      animation: entrarYSalir 8s ease-in-out infinite;
      color: #e3a857;
    }
    .hero__background {
      background-image: url(../../../public/categories/breweries2.jpg);
    }
  }
  &__gelato {
    background-color: #4f6a2f;
    .hero__title {
      color: #fdf6e3;
      animation: rebote 8s ease-out infinite;
    }

    .hero__background {
      background-image: url(../../../public/categories/gelatobackground2.jpg);
    }
  }
  &__large-groups {
    background-color: #4a4a4a;
    .hero__title {
      color: #eeeedd;
      animation: cambiarColor 8s infinite ease-in-out;
    }
    .hero__background {
      background-image: url(../../../public//categories/largegroups.jpg);
    }
  }
}

@keyframes aumentarDisminuir {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes entrarYSalir {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
@keyframes desvanecer {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes rebote {
  0% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(20px);
  }
  70% {
    transform: translateY(0);
  }
}
@keyframes cambiarColor {
  0% {
    opacity: 0;
    color: #eeeedd; /* Color inicial (tomato) */
  }
  50% {
    opacity: 1;
    color: #32cd32;
  }
  100% {
    opacity: 0;
    color: #eeeedd; /* Vuelve al color inicial */
  }
}
